html
	head
		title Person Details
	body
		h2 Person details
		ul
			li Id: #{person.id}
			li Name: #{person.name}
			li Age: #{person.age}
			li Nationality: #{person.nationality}

		a(href='/person') Back to people page