html
	head
		title All People
	body
		h2 All People
		p 
			a(href = '/person/add') Add person
		table
			tr
				th Name
				th Details
				th Update
				th Delete
			each person in people
				tr
					td #{person.name}
					td 
						a(href='/person/' + person.id) details
					td 
						a(href='/person/update/' + person.id) update
					td 
						a(href='/person/delete/' + person.id) delete